<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title> <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
        <title>Job Matching</title> </head>
<body>
    <header>
        <h1>Resume Builder Software</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/resume-builder">Resume Builder</a>
            <a href="/skills-demo">Skill/Demo Questions</a>
            <a href="/interview-tips">Interview Tips</a>
            <a href="/cover-letter">Cover Letter Builder</a>
            <a href="/job-alerts">Job Alert</a>
            <a href="/job-matching">Job Search</a>
        </nav>
        <section id="job-matching">
            <h2 class="section-heading">Job Matching</h2>
            <div class="card-container">
              <div class="card">
                <img src="/images/linkedin.png" class="card-img-top" alt="Jobs">
                <div class="card-body">
                  <h5 class="card-title">Software Engineer: Mumbai</h5>
                  <p class="card-text">These are jobs for Software Engineer in Mumbai available on LinkedIn.</p>
                  <a href="https://in.linkedin.com/jobs/software-engineer-jobs-mumbai-metropolitan-region?position=1&pageNum=0"
                    class="btn btn-primary">Apply</a>
                </div>
              </div>
        
              <div class="card">
                <img src="/images/naukri.png" class="card-img-top" alt="Jobs">
                <div class="card-body">
                  <h5 class="card-title">Frontend Developer: Pune</h5>
                  <p class="card-text">These are jobs for Frontend Developer in Pune available on Naukri.com.</p>
                  <a href="https://www.naukri.com/front-end-developer-jobs-in-pune" class="btn btn-primary">Apply</a>
                </div>
              </div>
        
              <div class="card">
                <img src="/images/workindia.webp" class="card-img-top" alt="Jobs">
                <div class="card-body">
                  <h5 class="card-title">Data Analyst: Bangalore</h5>
                  <p class="card-text">These are jobs for Data Analyst in Bangalore available on WorkIndia.</p>
                  <a href="https://www.workindia.in/jobs/data_analyst-hsr_layout_sector_3-bengaluru-4960001/"
                    class="btn btn-primary">Apply</a>
                </div>
              </div>
        
              <div class="card">
                <img src="/images/Graphic.webp" class="card-img-top" alt="Jobs">
                <div class="card-body">
                  <h5 class="card-title">Graphic Designer: Ahmedabad</h5>
                  <p class="card-text">These are jobs for Graphic Designer in Ahmedabad available on Naukri.com.</p>
                  <a href="https://www.naukri.com/graphic-designer-jobs-in-ahmedabad" class="btn btn-primary">Apply</a>
                </div>
              </div>
            </div>
        
            <div class="card-container">
              <div class="card">
                <img src="/images/cyber.jpg" class="card-img-top" alt="Jobs">
                <div class="card-body">
                  <h5 class="card-title">Cyber Security: Mumbai</h5>
                  <p class="card-text">These are jobs for Cyber Security in Mumbai available on Naukri.com.</p>
                  <a href="https://www.naukri.com/cyber-security-jobs-in-mumbai" class="btn btn-primary">Apply</a>
                </div>
              </div>
              <div class="card">
                <img src="/images/AI.webp" class="card-img-top" alt="Jobs">
                <div class="card-body">
                  <h5 class="card-title">AI Engineer: India</h5>
                  <p class="card-text">These are jobs for AI Engineer in all over India available on naukri.com.</p>
                  <a href="https://www.naukri.com/ai-engineer-jobs" class="btn btn-primary">Apply</a>
                </div>
              </div>
              <div class="card">
                <img src="/images/IT.jpg" class="card-img-top" alt="Jobs">
                <div class="card-body">
                  <h5 class="card-title">IT Jobs: Mumbai</h5>
                  <p class="card-text">These are jobs for IT in Mumbai available on LinkedIn.</p>
                  <a href="https://www.linkedin.com/jobs/it-related-jobs-mumbai/?currentJobId=4128084726&originalSubdomain=in"
                    class="btn btn-primary">Apply</a>
                </div>
              </div>
              <div class="card">
                <img src="/images/Web.jpg" class="card-img-top" alt="Jobs">
                <div class="card-body">
                  <h5 class="card-title">Web Developer: India</h5>
                  <p class="card-text">These are jobs for Web Developer in all over India available on Naukri.com.</p>
                  <a href="https://www.naukri.com/web-developer-jobs-in-india" class="btn btn-primary">Apply</a>
                </div>
              </div>
            </div>
            </div>
            </form>
          </section>
          </main>
    </header>
        <footer>
            <p>© 2025 Resume Builder Software</p>
        </footer>
        <script src="/js/script.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/api.js"></script>
    </body>
    </html>
